.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}
.header .go-back {
  display: flex;
  font-weight: 500;
  font-size: 1.5rem;
}

.header .go-back i {
  margin-right: .5rem;
  padding-top: 1.6rem;
}

.header .logo {
  width:200px;
}

.header .sign-up {
  border: 1px solid rgb(167, 167, 167);
  height: fit-content;
  padding: .3rem 1.3rem;
  font-size: 1.5rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 4rem;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form .username {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #eee;
  margin-bottom: 2rem;
  width: 500px;
  height: 50px;
  padding: 1rem;
  font-size: 1rem;
}

.form .username label {
  margin-left: .5rem;
  margin-top: .5rem;
}

.form .username input {
  background-color: white;
}

.form .submit-btn {
  font-size: 1.5rem;
  background: #a2e80c;
border: 1px solid #DDDDDD;
box-sizing: border-box;
border-radius: 5px;
}

.form .keep-sign-in {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  width: 300px;
  color: rgb(80, 78, 78);
  margin: 2rem 0rem;
}

.form .keep-sign-in input {
  width: fit-content;
  margin-right: 1rem;
}

.form .forgot {
  display: flex;
  justify-content: space-between;
  width: 400px;
  font-size: 1.3rem;
}

.form .forgot a {
  text-decoration: none;
  color: black;
}

.form .forgot a:visited {
  text-decoration: none;
  color: black;
}